.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-grop
        = @group.name
      .main-chat__group-info__left-box__member-list
        - @group.users.each do |group|
          = group.name
    .main-chat__group-info__right-edit
      = link_to edit_group_path(@group), class: "main-chat__group-info__right-edit--btn" do
        %span<>
          Edit
  .main-chat__messages
    = render @messages
    


  .main-chat__message-form
    -# .main-chat__message-form__new-message__form
    .main-chat__message-form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content,class: 'main-chat__message-form__new-message--form', placeholder: 'type a message'
        .main-chat__message-form__new-message__form
          = f.label :image, class: 'type a message',class:'main-chat__message-form__new-message__form--field' do
            = icon('fas', 'image', class: 'main-chat__message-form__new-message__form--label')
            = f.file_field :image, class: 'main-chat__message-form__new-message__form--file'
        .main-chat__message-form__new-message__mask
          = f.submit 'Send', class: 'main-chat__message-form__new-message__mask--submit'

