.main-chat__messages__message{ "data-message-id": "#{message.id}" }
  .main-chat__messages__message__list
    .main-chat__messages__message__list__name
      = message.user.name
    .main-chat__messages__message__list__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main-chat__messages__message__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?