.side-bar
  .side-bar__outside-box
    .side-bar__outside-box__inside-box
      .side-bar__outside-box__inside-box__item
        .side-bar__outside-box__inside-box__item__user-name
          = current_user.name
        .side-bar__outside-box__inside-box__item__icons
          = link_to new_group_path, class: "side-bar__outside-box__inside-box__item__icons--edit" do
            = icon('fas', 'edit', class:'item__icons--edit')
            %span<>
          = link_to edit_user_path(current_user), class: "side-bar__outside-box__inside-box__item__icons--cog" do
            = icon('fas', 'cog', class:'item__icons--cog')
            %span<>
              
  .side-bar__group-list
    .side-bar__group-list__grops 
      .side-bar__group-list__grops__name
        group-name
      .side-bar__group-list__grops__latest-message
        latest-message
    .side-bar__group-list__grops 
      .side-bar__group-list__grops__name
        group-name
      .side-bar__group-list__grops__latest-message
        latest-message

